<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Listen for clicks on buttons with the 'ajax-button' class
            $('.ajax-button').on('click', function() {
                var command = $(this).data('command');

                // Perform the AJAX POST request to send the command
                $.ajax({
                    method: 'POST',
                    contentType: 'application/json', // Set the Content-Type header
                    url: "{{ url_for_send_command }}", // Replace with your actual URL
                    data: JSON.stringify({ rpi_command: command }), // Convert data to JSON format
                });
            });
        });
    </script>
</head>
<body>
    <div class="handset-status">
        {% if handset_status == 'ringing' %}
            <p class="ringing">{{ handset_status }}</p>
        {% elif handset_status == 'answered' %}
            <p class="answered">{{ handset_status }}</p>
        {% elif handset_status == 'opened' %}
            <p class="opened">{{ handset_status }}</p>
        {% else %}
            <p>{{ handset_status }}</p>
        {% endif %}
    </div>

    <form id="command-form" method="post" action="{{ url_for_send_command }}">
        <button type="button" class="ajax-button" data-command="answer">Answer</button>
        <button type="button" class="ajax-button" data-command="open">Open Door</button>
        <button type="button" class="ajax-button" data-command="hangup">Hang Up</button>
    </form>
</body>
</html>
